/*Screens for 768px to 1199px*/
@media (min-width:911px) and (max-width: 1199px){
    
    .container-grid{
        grid-template-rows: 10% auto 3%;
    }

    /*Home Queries*/
    .presentation__title{
        width: 40%;
    }
    .presentation__paragraph{
        width: 40%;
    }

    /*AboutMe Queries*/
    .container__aboutMe{
        height: 100%;
        margin-top: 40px;
    }

    .me{
        margin-left: 30px;
        width: 50%;
    }
    .me .me__txt p{
        padding: 15px;
    }

    .resume{
        height: 100%;
        width: 50%;
    }
    .resume__video{
        width: 80%;
    }

    .container__cv p{
        width: 300px;    
    }
    .resume .container__cv i{
        font-size: 2rem;
    }

    /*MySkill Queries*/
    .containerSkills{
        height: 100%;
        margin-top: 30px;
    }

    .education{
        justify-content: center;
        margin-left: 30px;
    }
    .education__description p{ 
        padding: 10px;
        line-height: 1.5rem;
    }

    .education__certifications h3{
        font-size: 1.5rem;
    }


    /*Portfolio Queries*/
    .containerPortfolio{
        height: 100%;
        padding: 0;
        margin-top: 40px;
    }
    
    .portfolioPresentation{
        width: 75%;
    }
    .proyect{
        justify-content: center;
    }
    .arrow_icon .fa-solid.fa-angle-right{
        bottom: 240px;
        left: 780px;
    }

    /*ContactMe Queries*/
    .container__contact{
        height: 100%;
        margin-top: 30px;
    }

    .formulario{
        height: auto;
        width: 50%;
    }
    .form{
        height: 100%;
        justify-content: center;
        margin-top: 0;
        margin-left: 30px;

    }

    .map{
        padding: 15px;
    }
}

@media (min-width:768px) and (max-width:911px){
    .presentation__title{
        width: 50%;
    }
    .presentation__paragraph{
        height: auto;
        width: 50%;
    }

    .container__aboutMe{
        margin-top: 30px;
    }
    

    .me .me__txt p{
        padding: 12px;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    
    .resume__video{
        width: 360px;
    }
    .container__cv p{
        width: 300px;
    }

    .containerSkills{
        height: 100%;
        margin-top: 10px;
    }
    .education__description p{ 
        padding: 10px;
        line-height: 1.5rem;
    }
    
    .containerPortfolio{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 0px;
    }

    .portfolioPresentation{
        width: 90%;
        line-height: 1.5rem;
    }

    .proyect p{
        height: 150px;
        width: 100%;
    }
}


/*Screens for 375px to 767px*/
@media (min-width:375px) and (max-width:767px){
    
    
    body{
        overflow: scroll;
    }
    
    .container-grid{
        height: 100vh;
        display: flex;
        flex-direction: column;
        grid-template-columns: 0;
        grid-template-rows: 0;
    }
    
    /*Header*/
    #header{
        grid-column: 0;
        display: flex;
        justify-content: space-between;
        background: #cee3dcc9;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    .logo{
        border: 1px dashed black;
        border-radius: 50%;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 10px 20px;
        text-align: center;
    }
    .logo__img{
        font-size: 3rem;
    }
    
    .navbar{
        align-items: center;
        justify-content: flex-end;
    }
    
    .fa-solid.fa-bars{
        display: flex;
        align-items: center;
        font-size: 2.5rem;
        cursor: pointer;
        margin-right: 15px;        
    }
    
    #check{
        display: none;
    }
    #check:checked ~ .navbar__ul {
    left: 0;    
    }
    #check:checked ~ .navbar__list{
        display: block;
    }

    .navbar__ul{
        background:#cee3dc;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 100px;
        left: -100%;
        transition: all .5s;
    }

    .navbar__list{
        line-height: 45px;
        margin: 10px 0;
        display: flex;
        margin-right:0;
        transition: all .5s;
    }
    .navbar__link{
        color: black;
        font-size: 1.5rem;
    }

    .icons-menu{
        height: 10%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 20px;
    }
    .icons-menu .icon__link{
        margin-right: 10px;
    }


    
    /*Social Media*/
    #socialMedia{
        display: none;
    }

    /*Footer*/
    #footer{
        grid-column:0;
        height: 30px;
        font-size: 0.8rem;
        align-items: flex-end;
        justify-content: center;
    }
    
    /*Home*/
    .presentation{
        align-items: center;
        justify-content: center;
    }
    .presentation__title{
        margin-top: 25px;
        height: auto;
        width: 60%;
        font-size: 4.5rem;
        text-align: center;
    }
    .presentation__paragraph{
        height: auto;
        width: 60%;
        font-size: 1.5rem;
        padding: 10px;
    }
    
    /*AboutMe*/     
    .title__sub{
        display: flex;
        font-size:1.5rem;
        margin-left: 20px;
        position: absolute;
        top: 110px;
    }
    
    .container__aboutMe{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    
    .me{
        width: 100%;
        margin-bottom: 20px;
    }
    .me .me__txt p{
        padding: 20px;
    }
    
    .resume{
        width: 100%;
    }
    .resume__video{
        width: 450px;
    }
    
    /*MySkill*/
    .containerSkills{
        margin-top: 55px;
        flex-direction: column;
        padding: 10px;
    }
    
    .education{
        align-items: center;
        width: 100%;
        margin-left: 0;
    }
    
    .education__certifications{
        padding: 10px;
    }
    
    .skills{
        height: 250px;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    
    /*Portfolio*/
    .containerPortfolio{
        flex-direction: column;
        padding: 10px;
        margin-top: 50px;
    }
    .portfolioPresentation{
        width: 70%;
        line-height: 1.5rem;
        margin-left: 10px;
        padding: 10px;
    }
    .proyects{
        display: flex;
        flex-direction: column;
    }
    .proyect{
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }
    .proyect img{
        width: 80%;
        padding: 10px;
    }
    .proyect p{
        padding: 10px;
    }
    
    .arrow_icon .fa-solid.fa-angle-left{
        display: none;
    }
    .arrow_icon .fa-solid.fa-angle-right{
        display: none;
    }
    
    /*ContactMe*/
    .container__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        padding: 10px;
    }
    
    .formulario{
        height: auto;
        width: 100%;
        margin-left: 30px;
        margin-bottom: 40px;
    
    }
    .form__legend{
        width: 100%;
    }
    .form{
        margin-top: 0;
        margin-left: 0;
    }
    
    .map{
        width: 100%;
        height: auto;
    }
}