@import "vars";

/*AboutMe*/
.container__aboutMe{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-top: 40px;
}

.me{
    height: 100%;
    width: 45%;
    .me__txt{
        p{
            width: auto;
            padding: 10px;
            font-size: 1.3rem;
            line-height: 1.8rem;
        }
    }
}

.resume{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & &__video{
        height: 250px;
        width: 100%;
        margin: 25px 0
    }
    .container__cv{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .parrafo{
            width: 350px;
            border: 1px dashed black;
            font-weight: bold;
            padding: 10px;
            text-align: center;
            
        }
        i{
            height: 50px;
            color: black;
            font-size: 2.1rem;
            margin-left: 10px;
            &:hover{
                color: $secondaryColor;
            }
        }
    }
    
    .container__cv--color{
        @extend .container__cv;
        color: red;
        p{
            @extend .parrafo;
            border-color: red;
        }
        i{
            height: 50px;
            color: black;
            font-size: 2.1rem;
            margin-left: 10px;
            &:hover{
                color: $secondaryColor;
            }
        }

    }
}