@import "vars";

/*Portfolio*/
.containerPortfolio{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .portfolioPresentation{
        width: 90%;
        line-height: 1.5rem;
        margin-left: 80px;
        padding: 10px;
    }
}

.carousel-inner .carousel-item img{
    height: 400px;
} 