/*Screens for 768px to 1200px*/
@media (min-width:768px) and (max-width:$toXlResponsive){

    /*First Letter pages*/
    .first{
        font-size: 2rem;
    }

    .icons-nav{
        display: none;
    }
    
    /*Home*/
    
    .presentation {
        & &__title{
        width:45%;
        font-size: 4.5rem;
        }
        & &__paragraph{
            width: 45%;
            line-height: 1.4rem;
        }
    }
    
    /*AboutMe*/
    .container__aboutMe{
        height: 100%;
        margin-top: 15px;
        .me{
            height: auto;
            width: 45%;
            .me__txt{
                p{
                font-size: 1.2rem;
                line-height: 1.1rem;
                }
            }
        }
        .resume{
            width: 50%;
            & &__video{
                margin-top: 0px;
            }
            .container__cv{
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    
    /*MySkill*/
    .containerSkills{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
        .education{
            width: 60%;
            &__description{ 
                p{
                font-size: 1.1rem;
                line-height: 1.3rem;
                padding: 5px;
                }
            }
            &__certifications{
                h3{
                font-size: 1.1rem;
                padding: 10px;
                }
                ul {
                    li{
                    font-size: 1.1rem;
                    line-height: 2rem;
                    padding: 2px;
                    }
                }
            }
        }
    }
    
    /*Portfolio*/
    .containerPortfolio{
        margin-top: 20px;
        .portfolioPresentation{
            font-size: 1.1rem;
            line-height: 1.3rem;
            margin-left: 30px;
        }
        .container{
            .carousel-inner{
                .carousel-item{
                    height: 400px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    /*ContactMe*/
    .container__contact{
        margin-top: 40px;
    }
}