$secondaryColor:#adb8b4;
$toMdResponsive: 767px;
$toXlResponsive:1200px;
$subtitleColor:#68b89e;

$coloresMedia: (
    git_hub: rgb(168, 167, 167),
    email:red,
    linkedin:rgb(14, 128, 199),
    );